<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>

 <section id="login">
<style>/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
	-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}</style>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                
                    <h1>SCRAPPER XENO</h1><form role="form" action="javascript:;" id="myForm" autocomplete="off">
                
  User name: <input type="text" name="fname" placeholder="CodeChefUser"><br>
  User name: <input type="text" name="lname" placeholder ="CodeForcesUser"><br>

</form> 
                        <div class="checkbox">
                        <input type="checkbox" name="codechef" value="CodeChefUser" id ="1"> CodeChef<br>
                           
                          <input type="checkbox" name="codeforces" value="CodeForcesUser" id="2"> CodeForces<br>
                        </div>
                       <button onclick="ccuser()">Enter</button>
                       </form>
                    
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section><!-- /.modal -->
<script>
const socket = io();


function ccuser(){
var xbool = document.getElementById('1').checked;
var ybool = document.getElementById('2').checked;
var x=''
var y=''
if(xbool===true)
 x = document.getElementById("myForm").elements[0].value; 
if(ybool===true)
 y =document.getElementById("myForm").elements[1].value;
 socket.emit('ccvalue',{
    ccuser:x,cfuser:y

 });

}

</script>

</body></html>
